html, body { margin:0; padding:0; overflow:hidden }
svg#map { position:fixed; top:0; bottom:0; left:0; right:0 }
line.solar { stroke: #000000; }
line.region { stroke: #FF0000; }

div#tools { position: absolute; top: 10px; left: 10px;}

.zoom2 line { stroke-width: 0.5; }
.zoom4 line { stroke-width: 0.25; }
.zoom8 line { stroke-width: 0.125; }
.zoom16 line { stroke-width: 0.1; }
.zoom32 line { stroke-width: 0.05; }
.zoom64 line { stroke-width: 0.025; }
.zoom128 line { stroke-width: 0.025; }