<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="evemaps"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>eve maps</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <svg id="map" ng-controller="MapController">
            <g transform="translate(50, 50)">

            <line class="solar" ng-repeat="jump in jumps"  ng-x1="{{x(jump.from.x)}}" ng-y1="{{z(jump.from.z)}}" ng-x2="{{x(jump.to.x)}}" ng-y2="{{z(jump.to.z)}}" />
            <line class="region" ng-repeat="jump in regionJumps"  ng-x1="{{x(jump.from.x)}}" ng-y1="{{z(jump.from.z)}}" ng-x2="{{x(jump.to.x)}}" ng-y2="{{z(jump.to.z)}}" />

            <circle ng-repeat="system in systems"  ng-cx="{{x(system.x)}}" ng-cy="{{z(system.z)}}" r="2" class="{{regionNames[system.regionId]}}" />

            </g>
        </svg>

        <script src="/components/angular/angular.js"></script>
        <script src="/components/underscore/underscore.js"></script>
        <script src="/components/d3/d3.js"></script>
        <script src="/js/jumps.js"></script>
        <script src="/js/systems.js"></script>
        <script src="/js/evemaps.js"></script>
    </body>
</html>
